/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFF;
}

.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background-color: #FFFF;
}

header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form{
    margin-top: 30px;
}

form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.password-eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8B8B8B;
    cursor: pointer;
    padding: 5px;
}

.confirm-password-eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8B8B8B;
    cursor: pointer;
    padding: 5px;
}

.field button{
    color: #FFFF;
    background-color: #3769D2;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button{
    background-color: #016DCB;
}

.field input,
.field button{
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 6px;
}

.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
}

.field input:focus{
    border-bottom-width: 2px;
}

.form-link{
    text-align: center;
    margin-top: 20px;
}

.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a{
    color: #3769D2;
    text-decoration: none;
}

.form-content a:hover{
    text-decoration: underline;
}